* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

.message {
  color: white;
  padding: 1rem;
  border: 6px solid #4caf50;
  background-color: #4caf50;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  animation: fade-in 0.3s forwards, fade-out 0.3s 0.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.message.show {
  opacity: 1;
  visibility: visible;
  animation: fade-in 0.3s forwards, fade-out 0.3s forwards;
}

body {
  background: #2c3338;
  color: #ffffff;
  font: 87.5%/1.5em "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

nav.role_none {
  background-color: #474c53;
}

nav.role_client {
  background-color: #474c53;
}

nav.role_seller {
  background-color: #cd3737;
}

nav.role_admin {
  background-color: #734d9f;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 25px;

  width: 25vw;
  max-width: 200px;
  min-width: 100px;
}

.search form {
  width: 100%;
}

#search {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding: 5px 10px;
  color: white;
  font-size: 16px;
  width: 75%;
  transition: border-color 0.3s ease;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type="text"]:focus {
  outline: none;
  border-color: #4caf50;
}

#search-icon {
  position: absolute;
  right: 10px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

#search-icon:hover {
  color: #4caf50;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 25px;
  margin-right: 25px;
}

.fa-home {
  color: white;
  display: flex;
  justify-content: flex-start;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

body {
  font: 87.5%/1.5em "Open Sans", sans-serif;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > input {
  display: none;
}
.rating > label {
  display: inline-block;
  font-size: 30px;
  padding: 5px;
  color: #ddd;
  cursor: pointer;
}
.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  color: #ffca08;
}
