* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

.message {
  color: white;
  padding: 1rem;
  border: orange solid 6px;
}

body {
  background: #2c3338;
  color: #ffffff;
  font: 87.5%/1.5em "Open Sans", sans-serif;
  margin: 0;
  height: 100vh;
}

nav {
  height: 50px;
}

nav.role_none {
  background-color: #474c53;
}

nav.role_client {
  background-color: #474c53;
}

nav.role_seller {
  background-color: #cd3737;  
}

nav.role_admin {
  background-color: #734d9f;
}

.menu {
  display: flex;
  align-items: center;  
  justify-content: flex-end;
  height: 100%;
  gap: 25px;
  margin-right: 25px;
}

.fa-home {
  color: white;
  display: flex;
  justify-content: flex-start;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

body {
  font: 87.5%/1.5em "Open Sans", sans-serif;
}
